<div class="category-list">
    <form [formGroup]="form">
        <div class="add-form">
            <mat-grid-list cols="5" gutterSize="16px" rowHeight="70px">
                <mat-grid-tile [colspan]="2">
                    <mat-form-field>
                        <input name="title" #title formControlName="title" matInput placeholder="New Category Title" required />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <mat-form-field>
                        <input name="description" formControlName="description" matInput placeholder="New Category Description" />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <button mat-raised-button (click)="saveCategory()" [disabled]="!form.valid">Add Category</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </form>
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="getThis()">

            <ng-container cdkColumnDef="title">
                <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="description">
                <mat-header-cell *cdkHeaderCellDef> Description </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="numPosts">
                <mat-header-cell *cdkHeaderCellDef> Posts </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.numPosts}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="delete">
                <mat-header-cell *cdkHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <button mat-button (click)="delete(row)"><i class="fa fa-close"></i></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalNum">
        </mat-paginator>
    </div>
</div>