<div class="category-list">
    <form [formGroup]="form">
        <div class="add-form">
            <md-grid-list cols="5" gutterSize="16px" rowHeight="70px">
                <md-grid-tile [colspan]="2">
                    <md-input-container>
                        <input name="title" #title formControlName="title" mdInput placeholder="New Category Title" required />
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile [colspan]="2">
                    <md-input-container>
                        <input name="description" formControlName="description" mdInput placeholder="New Category Description" />
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile [colspan]="1">
                    <button md-raised-button (click)="saveCategory()" [disabled]="!form.valid">Add Category</button>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </form>
    <div class="example-container mat-elevation-z8">
        <md-table #table [dataSource]="getThis()">

            <ng-container cdkColumnDef="title">
                <md-header-cell *cdkHeaderCellDef> Title </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.title}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="description">
                <md-header-cell *cdkHeaderCellDef> Description </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.description}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="numPosts">
                <md-header-cell *cdkHeaderCellDef> Posts </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.numPosts}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="delete">
                <md-header-cell *cdkHeaderCellDef> Delete </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <button md-button (click)="delete(row)"><i class="fa fa-close"></i></button>
                </md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>

            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

        </md-table>

        <md-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalNum">
        </md-paginator>
    </div>
</div>