.user-info {
    padding: 32px 16px 16px 16px;
    background-color: palevioletred;
    
}

.user-actions {
    text-align: center;
}

.user-actions button {
    display: inline-block;
    width: 23%;
    min-width: 0;
    margin: 0;
}