<div class="pp-comment row">
    <div class="col-md-2 pp-avatar">
        <img src="https://www.gravatar.com/avatar/{{comment.gravatar}}?s=100" />
    </div>
    <div class="col-md-10">
        <div>
            <div class="pp-comment-author">
                {{comment.authorName}}
            </div>
            <div class="pp-comment-datetime">
                {{comment.createdDateTime}}
            </div>
        </div>
        <div class="pp-comment-text">
            {{comment.text}}
        </div>
    </div>
</div>