<div class="pp-comment row" [class.deleted]="comment.deleted" [class.admin]="comment.fromAdmin">
    <div class="pp-deleted-msg col-md-12" *ngIf="comment.deleted">**Deleted**</div>
    <div class="col-md-2 pp-avatar">
        <img src="https://www.gravatar.com/avatar/{{comment.gravatar}}?s=100" />
    </div>
    <div class="col-md-10">
        <div>
            <div class="pp-comment-author">
                {{comment.authorName}}
            </div>
            <div class="pp-comment-datetime">
                {{comment.createdDateTime}}
            </div>
        </div>
        <div class="pp-comment-text" [innerHtml]="comment.text">
        </div>
        <div class="pp-comment-moderation" *ngIf="_userInfoService.isLoggedIn">
            <button mat-raised-button (click)="delete()" *ngIf="!comment.deleted">Delete Commment</button>
            <button mat-raised-button (click)="unDelete()" *ngIf="comment.deleted">Restore Comment</button>
        </div>
    </div>
</div>