<div id="pp-settings">
    <h2 matDialogTitle>Blog Settings</h2>
    <form #settingsForm="ngForm" ng-disabled="saving">
        <mat-tab-group>
            <mat-tab label="General">
                <mat-form-field>
                    <input id="blogName" name="blogName" matInput placeholder="Blog Name" [(ngModel)]="settings.blogName">
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input id="description" name="description" matInput placeholder="Description" [(ngModel)]="settings.description">
                </mat-form-field>
                <br />
                <mat-select name="postsPerPage" placeholder="Posts Per Page" [(ngModel)]="settings.postsPerPage">
                    <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
                </mat-select>
            </mat-tab>
            <mat-tab label="E-mail">
                <mat-checkbox name="sendCommentEmail" [(ngModel)]="settings.sendCommentEmail">Send comment e-mail</mat-checkbox>
                <mat-form-field>
                    <input name="smtpUsername" matInput placeholder="SMTP Username" [(ngModel)]="settings.smtpUsername">
                </mat-form-field>
                <mat-form-field>
                    <input type="password" name="smtpPassword" matInput placeholder="SMTP Password" [(ngModel)]="settings.smtpPassword">
                </mat-form-field>
                <mat-form-field>
                    <input name="smtpHost" matInput placeholder="SMTP Host Name" [(ngModel)]="settings.smtpHost">
                </mat-form-field>
                <mat-form-field>
                    <input name="smtpPort" matInput placeholder="SMTP Port Number" [(ngModel)]="settings.smtpPort">
                </mat-form-field>
                <mat-form-field>
                    <input name="emailPrefix" matInput placeholder="E-mail Subject Prefix" [(ngModel)]="settings.emailPrefix">
                </mat-form-field>
                <mat-checkbox name="smtpUseSsl" [(ngModel)]="settings.smtpUseSsl">Use SSL</mat-checkbox>
                <br/>
                <button mat-raised-button class="pp-send-email-btn" (click)="sendTestEmail()" [disabled]="saving">Send Test Email</button>
            </mat-tab>
            <mat-tab label="reCaptcha">
                <mat-checkbox name="useReCaptcha" #useReCaptcha [(ngModel)]="settings.useReCaptcha">Use Google reCaptcha</mat-checkbox>
                <mat-form-field>
                    <input name="captchaKey" matInput placeholder="Site Key" [(ngModel)]="settings.captchaKey" [disabled]="!useReCaptcha.checked">
                </mat-form-field>
                <mat-form-field>
                    <input name="captchaSecret" matInput placeholder="Site Secret" [(ngModel)]="settings.captchaSecret" [disabled]="!useReCaptcha.checked">
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>
    </form>
    <br />
    <mat-dialog-actions>
        <button mat-raised-button (click)="save()">Save</button>
        <button mat-raised-button matDialogClose>Cancel</button>
    </mat-dialog-actions>
</div>
<div class="progress-container" *ngIf="saving">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>