<h3 md-dialog-title><i class="fa fa-bar-chart"></i> Dashboard</h3>
<div class="row">
    <div class="col-md-6">
        <md-card>
            <md-card-title>Stats</md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item> Published Posts {{dashboardData.numPosts}}</md-list-item>
                    <md-list-item> Draft Posts {{dashboardData.numDrafts}} </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card>
            <md-card-title>Latest Comments</md-card-title>
            <md-card-content class="db-recent-comments">
                <div class="db-recent-comment" *ngFor="let c of dashboardData.recentComments">
                    <div class="db-recent-comment-date">
                        {{c.createdDateTime}}
                    </div>
                    <div class="db-recent-comment-meta">
                        Comment on post <a href="javascript:void(0)" (click)="navigateToPost(c.postSlug)">{{c.postTitle}}</a> by <a href="mailto:{{c.authorEmail}}">{{c.authorName}}</a>
                    </div>
                    <div class="db-recent-comment-text">
                        {{c.text}}
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
<div class="progress-container" *ngIf="loading">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>