<md-sidenav-container>
    <md-sidenav #adminNav mode="over" opened="false">
        <control-panel [login]="login" (logout)="logOut()"></control-panel>
    </md-sidenav>

    <div class="pp-header">
        <div class="container pp-header-container">
            <div class="pp-header-title">
                <a routerLink="" routerLinkActive="active">
                    <h1>{{info.name}}</h1>
                </a>
            </div>
            <div class="pp-description">
                <h4>{{info.description}}</h4>
            </div>
        </div>
        <button md-raised-button (click)="openLogin()" *ngIf="!login.succeeded">Login</button>
        <button md-raised-button (click)="adminNav.toggle()" *ngIf="login.succeeded">Admin</button>
    </div>

    <router-outlet></router-outlet>

</md-sidenav-container>