<div class="row">
    <div class="col-5">
        <h3 matDialogTitle>Profile Picture</h3>
        <img src="{{settings.profilePicture}}" class="profile-pic" />
        <button mat-raised-button (click)="removePhoto()" *ngIf="settings.profilePicture">Remove</button>
        <input type="file" name="file" id="file" #file accept=".jpg,.gif,.png" (change)="uploadPhoto($event)" />
    </div>
    <div class="col-7">
        <h3 matDialogTitle>Profile Settings</h3>
        <form #profileForm="ngForm">
            <mat-form-field>
                <input name="displayName" matInput placeholder="Display Name" required [(ngModel)]="settings.displayName">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input name="email" matInput placeholder="Email Address" required [(ngModel)]="settings.email">
            </mat-form-field>
            <br />
            <tiny-mce-profile name="about" #tmce elementId="tmce"></tiny-mce-profile>
            <br>
            <mat-dialog-actions>
                <button mat-raised-button (click)="save()" [disabled]="!profileForm.valid">Save</button>
                <button mat-raised-button matDialogClose>Cancel</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>

<div class="progress-container" *ngIf="saving">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>