<h3 matDialogTitle>Change Password</h3>
<form #pwdForm="ngForm">
    <mat-form-field>
        <input name="currentPassword" type="password" [(ngModel)]="changeRequest.currentPassword" required matInput placeholder="Current Password">
    </mat-form-field>
    <br />
    <mat-form-field>
        <input name="newPassword" #newPassword type="password" [(ngModel)]="changeRequest.newPassword" required matInput placeholder="New Password">
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input name="newPasswordConfirm" #newPasswordConfirm type="password" [(ngModel)]="changeRequest.newPasswordConfirm" required matInput placeholder="Confirm New Password">
    </mat-form-field>
    <br/>
    <mat-dialog-actions>
        <button mat-raised-button (click)="save()" [disabled]="!pwdForm.valid || newPassword.value != newPasswordConfirm.value">Save</button>
        <button mat-raised-button matDialogClose>Cancel</button>
    </mat-dialog-actions>    
</form>

<div class="progress-container" *ngIf="saving">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>