<h2 md-dialog-title>Login</h2>
<form #loginForm="ngForm">
    <md-input-container>
        <input id="username" name="username" #username="ngModel" mdInput placeholder="Username" [(ngModel)]="model.username" required>
    </md-input-container>
    <br/>
    <md-input-container>
        <input type="password" id="password" name="password" #password="ngModel" mdInput placeholder="Password" [(ngModel)]="model.password"
            required>
    </md-input-container>
    <br/>
    <md-checkbox id="rememberMe" name="rememberMe" #rememberMe="ngModel" [(ngModel)]="model.rememberMe">Remember Me</md-checkbox>

    <md-dialog-actions>
        <button md-raised-button (click)="login()" [disabled]="!loginForm.valid">Login</button>
        <button md-raised-button md-dialog-close>Cancel</button>
    </md-dialog-actions>
</form>