<h2 matDialogTitle>Login</h2>
<form #loginForm="ngForm">
    <mat-form-field>
        <input id="username" name="username" #username="ngModel" matInput placeholder="Username" [(ngModel)]="model.username" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="password" id="password" name="password" #password="ngModel" matInput placeholder="Password" [(ngModel)]="model.password"
            required>
    </mat-form-field>
    <br/>
    <mat-checkbox id="rememberMe" name="rememberMe" #rememberMe="ngModel" [(ngModel)]="model.rememberMe">Remember Me</mat-checkbox>

    <mat-dialog-actions>
        <button mat-raised-button (click)="login()" [disabled]="!loginForm.valid">Login</button>
        <button mat-raised-button matDialogClose>Cancel</button>
    </mat-dialog-actions>
</form>