<h3 md-dialog-title><i class="fa fa-bar-chart"></i> Dashboard</h3>
<div class="row">
    <div class="col-md-6">
        <md-card>
            <md-card-title>Stats</md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item> Published Posts {{dashboardData.numPosts}}</md-list-item>
                    <md-list-item> Draft Posts {{dashboardData.numDrafts}} </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card>
            <md-card-title>Latest Comments</md-card-title>
            <md-card-content>
                Comments coming soon!
            </md-card-content>
        </md-card>
    </div>
</div>
<md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>