<div class="pp-post">
    <div class="pp-title">
        <div class="container">
            <h1>
                <a [routerLink]="['/post', post.slug]">{{post.title}}</a>
            </h1>
        </div>
    </div>
    <div class="pp-meta-top">
        <div class="container">
            <div class="pp-post-datetime">{{post.publishDate}}</div>
            <div class="pp-comments-link">Comments [{{post.comments.length}}]</div>
            <div class="pp-categories">
                <category-list [post]="post"></category-list>
            </div>
        </div>
    </div>
    <div class="container">
        <div [innerHtml]="post.content" class="pp-post-content"></div>
    </div>
    <div class="pp-meta-bottom">
        <div class="container pp-meta-bottom-container">
            <div class="pp-post-display-name">
                About {{post.userDisplayName}}
            </div>
            <div class="pp-post-author-description">
                {{post.userAbout}}
            </div>
        </div>
    </div>
    <div class="container pp-comment-container" *ngIf="showComments">
        <comment-list [comments]="post.comments"></comment-list>
        <comment-form [postId]="post.id" (commentCreated)="onCommentCreated($event)"></comment-form>
    </div>
</div>