<div class="pp-post">
    <div class="pp-title">
        <div class="container">
            <h1>
                <a [routerLink]="['/post', post.slug]">{{post.title}}</a>
            </h1>
        </div>
    </div>
    <div class="pp-meta-top">
        <div class="container">
            <div class="pp-post-datetime">{{post.publishDate}}</div>
            <div class="pp-comments-link">Comments [{{post.comments.length}}]</div>
            <div class="pp-categories"></div>
        </div>
    </div>
    <div class="container">
        <div [innerHtml]="post.content" class="pp-post-content"></div>
    </div>
    <div class="pp-meta-bottom">
        <div class="container">
            <div class="pp-post-display-name">
                {{post.userDisplayName}}
            </div>
        </div>
    </div>
    <div class="container">
        <comment-list [comments]="post.comments" *ngIf="showComments"></comment-list>
        <comment-form [postId]="post.id" (commentCreated)="onCommentCreated($event)" *ngIf="showComments"></comment-form>
    </div>
</div>