<div class="post-list mat-elevation-z8">
    <md-table #table [dataSource]="getThis()">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Progress Column -->
        <ng-container cdkColumnDef="title">
            <md-header-cell *cdkHeaderCellDef> Title </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.title}} </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="published">
            <md-header-cell *cdkHeaderCellDef> Published </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.published ? row.publishDate : ""}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>

        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

    </md-table>
    <md-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalNum">
    </md-paginator>
</div>