<div class="post-list mat-elevation-z8">
    <mat-table #table [dataSource]="getThis()">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Progress Column -->
        <ng-container cdkColumnDef="title">
            <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="published">
            <mat-header-cell *cdkHeaderCellDef> Published </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.published ? row.publishDate : ""}} </mat-cell>
        </ng-container>     

        <ng-container cdkColumnDef="edit">
                <mat-header-cell *cdkHeaderCellDef> Edit </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <button mat-button (click)="edit(row)"><i class="fa fa-edit"></i></button>
                </mat-cell>
            </ng-container>
            
        <ng-container cdkColumnDef="delete">
            <mat-header-cell *cdkHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <button mat-button (click)="delete(row)"><i class="fa fa-close"></i></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalNum">
    </mat-paginator>
</div>