@model PandaPress.Core.Models.View.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="pp-header">
    <div class="container pp-header-container">
        <div class="pp-header-title">
            <h1>@Model.Name</h1>
        </div>
        <div class="pp-description">
            <h4>@Model.Description</h4>
        </div>
    </div>
</div>
    
<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

@section scripts {
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
