<h3 md-dialog-title>Change Password</h3>
<form #pwdForm="ngForm">
    <md-input-container>
        <input name="currentPassword" type="password" [(ngModel)]="changeRequest.currentPassword" required mdInput placeholder="Current Password">
    </md-input-container>
    <br />
    <md-input-container>
        <input name="newPassword" #newPassword type="password" [(ngModel)]="changeRequest.newPassword" required mdInput placeholder="New Password">
    </md-input-container>
    <br/>
    <md-input-container>
        <input name="newPasswordConfirm" #newPasswordConfirm type="password" [(ngModel)]="changeRequest.newPasswordConfirm" required mdInput placeholder="Confirm New Password">
    </md-input-container>
    <br/>
    <md-dialog-actions>
        <button md-raised-button (click)="save()" [disabled]="!pwdForm.valid || newPassword.value != newPasswordConfirm.value">Save</button>
        <button md-raised-button md-dialog-close>Cancel</button>
    </md-dialog-actions>    
</form>